Thumbs.db
apiKey.h
*.obj
*.bak
*.plg
*.sbr
*.obj
*.dep
*.pdb
*.ilk
*.idb
*.log
*.bsc
*.user
*.suo
*.exe
*.scc
*.aps
*.clw
*.pch
*.html
*.cgi
*.xls
*.dat
*.mdl
*~
misc/iconv.h
misc/*.lib
dist/
setting/
xmlRPCtest/
memo/
work/
RCS/
*[Dd]ebug*/
*[Rr]elease*/